extends ../layout

block content
  .wrapper: .checkout.container: .content
    header
      h1 Hi,#{name} #[br] 
      p You are paying towards Invoice ID #{invoice_id} and service #{service_name}.
      p Use Card or PayPal account for the payment

    form#payment-form(action="/checkouts", method="post")
      section
        label(for="amount")
          span.input-label Amount
          .input-wrapper.amount-wrapper
            input#amount(name="amount" type="tel" min="1" value=amount)

        .bt-drop-in-wrapper
          #bt-dropin

      input#nonce(hidden name="payment_method_nonce")
      input#nonce(hidden name="invoice_id" value=invoice_id)
      button#test.button(type="submit")
        span Make Payment
      



  span(hidden id="client-token")=clientToken
  span(hidden id="invoice-id")=invoice_id

  script(src="https://js.braintreegateway.com/web/dropin/1.22.1/js/dropin.min.js")
  script(type="text/javascript", src="/javascript/demo.js")
  //- script(type="text/javascript", src="/javascript/subs.js")
